<div *ngFor="let stock of stocksQuotes">
    <div class="card m-3">
        <div class="card-body">
            <span role="button" class="float-end" (click)="unTrackStock(stock.symbol)"><i
                    class="bi bi-x-lg"></i></span>

            <h3 class="card-title text-bold col-6">{{stock.companyProfile?.name}} ({{stock.symbol}})
                <span *ngIf="stock.dp < 0" class="text-danger display-6 "><i
                        class="bi bi-arrow-down"></i>
                </span>
                <span *ngIf="stock.dp >= 0" class="text-success display-6"><i
                        class="bi bi-arrow-up"></i>
                </span>
            </h3>

            <div class="row">
                <div class="col-3">
                    <label for="">Change today: <span *ngIf="stock.dp > 0">+</span>{{stock.dp|
                        number:'1.2-2'}}</label>
                </div>
                <div class="col-9 row">
                    <div class="col-3">
                        <label for="">Opening price: {{stock.o | currency}}</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label for="">Current price: {{stock.c | currency}}</label>
                </div>
                <div class="col-3">
                    <label for="">High price: {{stock.h | currency}}</label>
                </div>
                <div class="col-3 float-end">
                    <button
                        [routerLink]="['/sentiment', {symbol:stock.symbol,companyName:stock.companyProfile?.name}]"
                        class="form-control btn btn-outline-secondary">
                        Go to social sentimental details >
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>