<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


    <main class="px-3">
        <h1>Welcome the Stock Tracker App</h1>
        <p class="lead">On this website, you can track stocks and see their details based on stocks
            symbols.</p>

        <p class="lead">This is an assigment for my Angular Certification, and will be validated by
            the Angular Training Team.</p>

        <h5 class="">Please use the menu to start tracking stocks.</h5>
        <h3 class="mt-5">Developed by Jaasiel Diaz.</h3>


    </main>

</div>